@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
* {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D9E3E3;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

.btn {
  width: 260px;
  padding: 20px 50px;
  background: #F7FF91;
  color: #202828;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 0.01em;
  cursor: pointer;
}
.btn:hover {
  background: #202828;
  color: #F7FF91;
}
.btn:focus {
  background: #152F35;
  color: #F7FF91;
}

.hero-section {
  background-image: url("../images/building.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 720px;
  margin: 0;
  position: relative;
}
.hero-section::after {
  content: "";
  position: absolute;
  right: 50px;
  top: 50px;
  height: calc(100% - 100px);
  width: 1px;
  background: linear-gradient(90deg, #D9E3E3 50%, rgba(217, 227, 227, 0) 103.88%);
}
.hero-section__context {
  max-width: 1440px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.hero-section .hero-section__context .title-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 609px;
  padding-bottom: 65px;
  padding-left: 120px;
}
.hero-section .hero-section__context .title-card__text {
  color: #152F35;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  letter-spacing: 0.01em;
  padding: 0.5em 0;
  margin-bottom: 2rem;
}
.hero-section .hero-section__context .title-card__btn {
  text-decoration: none;
}
.hero-section .hero-section__context .title-card__title {
  text-transform: uppercase;
  color: #152F35;
  font-size: 3em;
  text-align: right;
  position: relative;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgb(21, 47, 53);
}
.hero-section .hero-section__context .title-card__title_yellow {
  color: #F7FF91;
}
.hero-section .hero-section__context .title-card__title_yellow-O {
  display: inline-block;
  width: 175px;
  height: 0.75em;
  border: 4px solid #F7FF91;
  border-radius: 21px;
}

.who-we-are {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}
.who-we-are::after {
  content: "";
  position: absolute;
  width: 462px;
  height: 470px;
  right: -100px;
  top: -55px;
  background: #F7FF91;
  opacity: 0.3;
  filter: blur(178.5px);
  z-index: -1;
}
.who-we-are__wrapper {
  max-width: 1440px;
  height: 500px;
  padding: 0 120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
}
.who-we-are .help-card {
  border: 1px solid rgb(21, 47, 53);
  height: 520px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-radius: 16px;
  text-align: left;
}
.who-we-are .help-card__img {
  border-radius: 16px;
  margin: 33px;
  max-width: 100%;
}
.who-we-are .help-card__title {
  padding: 0 33px;
  font-weight: 600;
  font-size: 2em;
  line-height: 150%;
  color: #202828;
}
.who-we-are .help-card__text {
  padding: 15px 33px 45px 33px;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #202828;
}
.who-we-are .skill-cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.who-we-are .skill-cards .skill-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 80%;
}
.who-we-are .skill-cards .skill-card__text {
  border-left: 2px solid rgb(32, 40, 40);
  padding: 0 10px;
}
.who-we-are .skill-cards .skill-card__text h3 {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.9em;
  color: #000000;
}
.who-we-are .skill-cards .skill-card__text p {
  font-size: 0.875em;
  line-height: 150%;
}
.who-we-are .skill-cards .skill-card__img {
  display: flex;
  justify-content: end;
  max-height: 90px;
  padding: 0 25px;
}
.who-we-are .skill-cards .skill-card__img img {
  max-width: 100%;
}
.who-we-are .skill-cards .skill-card_reverse .skill-card__text {
  border-left: none;
  border-right: 2px solid rgb(32, 40, 40);
  text-align: right;
}
.who-we-are .skill-cards .skill-card_reverse .skill-card__img {
  justify-content: start;
}

.services {
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
}
.services::after {
  content: "";
  position: absolute;
  width: 462px;
  height: 470px;
  left: -100px;
  top: 250px;
  background: #F7FF91;
  opacity: 0.3;
  filter: blur(178.5px);
  z-index: -1;
}
.services__wrapper {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}
.services .services-title {
  background-image: url("/images/dg_geometry.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 250px;
}
.services .services-title h2 {
  font-weight: 600;
  font-size: 2.75em;
  line-height: 170%;
  letter-spacing: -0.02em;
  color: #202828;
  max-width: 480px;
}
.services .services-title p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: 0.01em;
  color: #202828;
  max-width: 480px;
  padding-bottom: 2.5rem;
}
.services .services-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.services .services-cards .services-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #152F35;
  border-radius: 2.25rem;
  height: 520px;
  flex-grow: 0.4;
  flex-shrink: 0;
  flex-basis: 350px;
  padding-top: 1.2rem;
}
.services .services-cards .services-card__img {
  margin: 0 auto;
  width: 90%;
}
.services .services-cards .services-card__img img {
  border-radius: 1.5rem;
  max-width: 100%;
}
.services .services-cards .services-card__text {
  padding: 0 43px;
  width: 100%;
}
.services .services-cards .services-card__text h3 {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 250%;
  color: #152F35;
}
.services .services-cards .services-card__text ul {
  padding-left: 25px;
}
.services .services-cards .services-card__text ul li {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #202828;
}

.contact-form {
  position: relative;
  overflow: hidden;
}
.contact-form::after {
  content: "";
  position: absolute;
  width: 462px;
  height: 570px;
  right: -100px;
  bottom: -200px;
  background: #F7FF91;
  opacity: 0.3;
  filter: blur(178.5px);
  z-index: -1;
}
.contact-form__wrapper {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}
.contact-form__title {
  font-weight: 700;
  font-size: 6.25em;
  line-height: 126%;
  letter-spacing: -0.03em;
  color: #152F35;
  padding-bottom: 4rem;
}
.contact-form__title-O {
  display: inline-block;
  width: 163px;
  height: 0.55em;
  border: 10px solid #152F35;
  border-radius: 138px;
}
.contact-form .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-form .form__body {
  display: flex;
  flex-direction: column;
}
.contact-form .form__btn {
  border: none;
  background: #152F35;
  color: #F7FF91;
  margin: 1rem 0 0.3rem 0;
}
.contact-form .form__btn:hover {
  background: #F7FF91;
  color: #202828;
}
.contact-form .form__checkbox {
  accent-color: #152F35;
  outline: none;
  margin: 0.3rem;
}
.contact-form .form__checkbox-label {
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #152F35;
  margin: 0.2rem 0 7rem 1rem;
}
.contact-form .form .form-groups {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contact-form .form .form-group {
  padding: 10px;
  border: 1px solid #152F35;
  border-radius: 12px;
  min-width: 288px;
  height: 45px;
  position: relative;
  margin: 0.75rem 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.contact-form .form .form-group__label {
  position: absolute;
  top: -9px;
  left: 20px;
  padding: 0 10px;
  background-color: #D9E3E3;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: #152F35;
}
.contact-form .form .form-group__input {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.875em;
  padding-left: 0.5rem;
}
.contact-form .form .form-group__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: #152F35;
}
.contact-form .form .form-group__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: #152F35;
}
.contact-form .form .form-group__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: #152F35;
}
.contact-form .form .form-group .__textarea {
  min-height: 137px;
  width: 100%;
  resize: vertical;
  padding: 0.5rem;
}
.contact-form__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 20rem;
}
.contact-form__text::after {
  position: absolute;
  content: "";
  bottom: 5%;
  left: 40%;
  height: 500px;
  width: 550px;
  background-image: url("/images/vector.svg");
  background-repeat: no-repeat;
  z-index: -1;
}
.contact-form__text p {
  font-size: 1.5em;
  line-height: 117%;
  color: #202828;
  text-align: right;
}

.footer {
  border-top: 1px solid #152F35;
  position: relative;
  overflow: hidden;
}
.footer::after {
  content: "";
  position: absolute;
  width: 462px;
  height: 570px;
  right: -100px;
  bottom: 15px;
  background: #F7FF91;
  opacity: 0.3;
  filter: blur(178.5px);
  z-index: -1;
}
.footer__wrapper {
  max-width: 1440px;
  padding: 65px 120px 75px 120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #152F35;
}
.footer__com h4 {
  font-weight: 600;
  font-size: 1.5em;
}
.footer__contacts-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 1190px) and (max-width: 1440px) {
  .who-we-are .help-card {
    width: 100%;
  }
}
@media screen and (min-width: 770px) and (max-width: 1189px) {
  .who-we-are__wrapper {
    grid-template-columns: 1fr;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .who-we-are .help-card {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .who-we-are .help-card__img {
    border-radius: 2rem;
  }
  .who-we-are .skill-cards {
    padding: 4rem 0;
    width: 100%;
    gap: 4rem;
  }
  .services {
    padding-top: 0rem;
  }
  .services .services-cards {
    justify-content: center;
    gap: 3rem;
  }
  .contact-form .form .form-group {
    min-width: 200px;
  }
  .hero-section .hero-section__context .title-card,
.who-we-are__wrapper,
.services__wrapper,
.contact-form__wrapper,
.footer__wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .hero-section::after {
    display: none;
  }
}
@media screen and (min-width: 490px) and (max-width: 769px) {
  .who-we-are__wrapper {
    grid-template-columns: 1fr;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .who-we-are .help-card {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .who-we-are .help-card__img {
    border-radius: 2rem;
  }
  .who-we-are .skill-cards {
    padding: 4rem 0;
    width: 100%;
    max-width: 600px;
    gap: 4rem;
  }
  .services {
    padding-top: 0rem;
  }
  .services .services-cards {
    justify-content: center;
    gap: 3rem;
  }
  .contact-form .form .form-group {
    min-width: 200px;
  }
  .contact-form .form .form-groups {
    flex-direction: column;
    gap: 0;
  }
  .hero-section .hero-section__context .title-card,
.who-we-are__wrapper,
.services__wrapper,
.contact-form__wrapper,
.footer__wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .hero-section {
    background-image: url(../images/building-mob.jpg);
    background-size: cover;
    height: 100vh;
  }
  .title-card {
    transform: scale(0.7);
    max-width: 580px;
    margin-left: -5rem;
  }
  .services .services-cards .services-card {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 2rem;
    min-width: 100%;
    max-width: 600px;
  }
  .services .services-title {
    background-size: 100%;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 2rem;
    font-size: 0.8em;
  }
  .footer__address {
    grid-area: 2/1/3/2;
  }
  .footer__contacts {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .footer__contacts-item {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__com {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: space-between;
  }
  .contact-form__title {
    font-size: 4rem;
  }
  .contact-form__text p {
    font-size: 1.2rem;
  }
  .footer__com h4 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 490px) {
  .who-we-are__wrapper {
    grid-template-columns: 1fr;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .who-we-are .help-card {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .who-we-are .help-card__img {
    border-radius: 1rem;
    margin: 20px;
  }
  .who-we-are .help-card__title {
    padding: 0 20px;
    font-size: 1.2em;
  }
  .who-we-are .help-card__text {
    padding: 15px 20px 45px 20px;
  }
  .who-we-are .skill-cards {
    padding: 4rem 0;
    width: 100%;
    max-width: 600px;
    gap: 4rem;
  }
  .who-we-are .skill-cards .skill-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: -6rem;
  }
  .who-we-are .skill-cards .skill-card__text {
    border-top: 2px solid rgb(32, 40, 40);
    padding-top: 1rem;
    border-left: none;
    margin-top: 1rem;
  }
  .who-we-are .skill-cards .skill-card__text h3 {
    font-size: 1.2em;
  }
  .who-we-are .skill-cards .skill-card__text p {
    font-size: 0.8em;
  }
  .who-we-are .skill-cards .skill-card__img {
    padding: 0;
  }
  .who-we-are .skill-cards .skill-card_reverse {
    flex-direction: column-reverse;
    margin-left: -12rem;
  }
  .who-we-are .skill-cards .skill-card_reverse .skill-card__img {
    padding-left: 1rem;
  }
  .who-we-are .skill-cards .skill-card_reverse .skill-card__text {
    border-right: none;
    text-align: left;
  }
  .services {
    padding-top: 0rem;
  }
  .services .services-cards {
    gap: 1rem;
  }
  .services .services-title {
    background-size: 100%;
    height: 150px;
  }
  .services .services-title h2 {
    font-size: 1.8em;
  }
  .services .services-title p {
    font-size: 0.8em;
  }
  .contact-form .form .form-group {
    min-width: 200px;
  }
  .hero-section .hero-section__context .title-card,
.who-we-are__wrapper,
.services__wrapper,
.contact-form__wrapper,
.footer__wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .hero-section::after {
    right: 1rem;
    height: 60%;
  }
  .hero-section {
    background-image: url(../images/building-mob.jpg);
    background-size: cover;
    height: 100vh;
  }
  .hero-section .hero-section__context .title-card {
    transform: scale(0.8);
    width: 350px;
    margin-left: -2rem;
  }
  .hero-section .hero-section__context .title-card h1 {
    font-size: 1.95em;
  }
  .hero-section .hero-section__context .title-card__title_yellow-O {
    width: 3.6em;
  }
  .services .services-cards .services-card {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1rem;
    min-width: 100%;
    max-width: 250px;
  }
  .services .services-cards .services-card__img {
    width: 100%;
  }
  .services .services-cards .services-card__text {
    padding: 0 14px;
    font-size: 0.8em;
  }
  .contact-form__title {
    font-size: 2.5rem;
  }
  .contact-form__title-O {
    display: inline-block;
    width: 100px;
    height: 0.55em;
    border: 5px solid #152F35;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-size: 0.8em;
  }
  .footer__com h4 {
    font-size: 1.2em;
  }
  .contact-form .form .form-groups {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .contact-form .form {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-form__text p {
    font-size: 1.1em;
    text-align: center;
  }
  .contact-form__text {
    padding-bottom: 6rem;
  }
  .contact-form__text::after {
    top: -40%;
    left: 45%;
    height: 200px;
    width: 200px;
    background-image: url("/images/vector-mob.png");
  }
}/*# sourceMappingURL=style.css.map */